/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }


@font-face {
  font-family: 'ubuntubold';
  src: url('../fonts/Ubuntu-B.ttf') format('truetype'), url('../fonts/Ubuntu-B.woff') format('woff'), url('../fonts/Ubuntu-B.eot') format('eot');
}
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/Ubuntu-R.ttf') format('truetype'), url('../fonts/Ubuntu-R.woff') format('woff'), url('../fonts/Ubuntu-R.eot') format('eot');
}
@font-face {
  font-family: 'Ubuntumedium';
  src: url('../fonts/Ubuntu-M.ttf') format('truetype'), url('../fonts/Ubuntu-M.woff') format('woff'), url('../fonts/Ubuntu-M.eot') format('eot');
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: 'ubuntubold', sans-serif;
}
.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
}
body,
.gl-header,
.gl-footer,
.block {
  width: 100%;
  min-width: 980px;
}
.block {
  overflow: hidden;
}
.opacity-low:hover {
  opacity: 0.9;
}
body {
  font-family: 'ubunturegular', sans-serif;
  color: #000;
  background: #fff;
  overflow-y: scroll;
}
form {
  width: 300px;
  padding: 5px;
  background: #bb0a0e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
form .form-inner {
  padding: 15px 10px;
  border: 1px solid #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
form .form-inner-title {
  display: block;
  font-family: 'ubuntubold', sans-serif;
  font-size: 19px;
  color: #fff;
  text-align: center;
  -webkit-text-shadow: 1px 1px 0 #343434;
  -moz-text-shadow: 1px 1px 0 #343434;
  -ms-text-shadow: 1px 1px 0 #343434;
  -o-text-shadow: 1px 1px 0 #343434;
  text-shadow: 1px 1px 0 #343434;
}
form .form-inner-notice {
  display: block;
  width: 180px;
  margin: 5px auto 15px;
  padding: 4px 15px;
  font-family: 'ubuntumedium', sans-serif;
  font-weight: normal;
  font-size: 19px;
  background: #ffca14;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
form input[type=text] {
  display: block;
  margin: 0 0 12px;
  padding: 5px 10px;
  width: 100%;
  height: 39px;
  color: #343434;
  border: 1px solid #443333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: inset 0 1px 6px #999;
  box-shadow: inset 0 1px 6px #999;
}
form input[type=submit] {
  width: 267px;
  height: 55px;
  margin: 10px 0 0;
  font-family: 'ubuntubold', sans-serif;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-shadow: 1px 1px 0 #eee;
  -moz-text-shadow: 1px 1px 0 #eee;
  -ms-text-shadow: 1px 1px 0 #eee;
  -o-text-shadow: 1px 1px 0 #eee;
  text-shadow: 1px 1px 0 #eee;
  background: url('../img/form-btn.png') no-repeat center center;
  border: none;
  outline: none;
}
form .form-link {
  display: block;
  margin: 10px 0 0;
  font-size: 11px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  opacity: 0.90;
}
.gl-header {
  padding: 5px 0;
  background: #343434;
}
.contact-top {
  text-align: right;
}
.contact-top-phone {
  margin: 0 0 5px;
  font-family: 'ubuntubold', sans-serif;
  font-size: 25px;
  color: #fff;
}
.contact-top-btn {
  display: block;
  width: 170px;
  height: 30px;
  padding: 5px 0 0;
  font-family: 'ubuntubold', sans-serif;
  font-size: 15px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: url('../img/header-btn.png') no-repeat center center;
}
.block1 {
  min-height: 544px;
  background: url('../img/block1-bg.png') no-repeat;
  background-position: center -1px;
}
.block1 .container {
  min-height: 544px;
}
.block1-titles {
  text-align: center;
}
.block1-title,
.block1-subtitle {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: 7px 15px;
  color: #fff;
  background: rgba(113, 179, 239, 0.75);
  text-align: center;
  text-transform: uppercase;
  -webkit-text-shadow: 1px 1px 0px #135991;
  -moz-text-shadow: 1px 1px 0px #135991;
  -ms-text-shadow: 1px 1px 0px #135991;
  -o-text-shadow: 1px 1px 0px #135991;
  text-shadow: 1px 1px 0px #135991;
}
.block1-title {
  margin: 20px 0 0;
  font-size: 38px;
}
.block1-subtitle {
  margin: 0;
  font-family: 'ubunturegular', sans-serif;
  font-size: 28px;
  font-weight: normal;
}
.block1-form {
  margin: 25px 0 0;
}
.block1-study {
  position: absolute;
  width: 597px;
  height: 89px;
  bottom: 0;
  left: 0;
  background: url('../img/block1-study.png') no-repeat center center;
  z-index: 10;
}
.block2 {
  position: relative;
  min-height: 652px;
  margin-top: -80px;
  background: url('../img/block2-bg.png') no-repeat center top;
  z-index: 12;
}
.block2 .container {
  padding: 100px 0 0;
}
.block2-title {
  margin: 0;
  font-size: 25px;
  color: #fff;
  -webkit-text-shadow: 1px 1px 0px #135991;
  -moz-text-shadow: 1px 1px 0px #135991;
  -ms-text-shadow: 1px 1px 0px #135991;
  -o-text-shadow: 1px 1px 0px #135991;
  text-shadow: 1px 1px 0px #135991;
}
.block2-title span {
  display: block;
  font-size: 53px;
}
.block2-reasons {
  margin: 40px 0 0;
  text-align: center;
}
.block2-reasons-single,
.block2-reasons-or,
.reasons-single-wrapper {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.reasons-single-wrapper {
  width: 258px;
  border-radius: 50%;
  box-shadow: 0 0 150px #fff;
}
.block2-reasons-single {
  width: 258px;
  -webkit-box-shadow: 0 0 2px #333;
  box-shadow: 0 0 2px #333;
}
.block2-reasons-single .reasons-single-img {
  width: 258px;
  height: 196px;
  margin-bottom: -3px;
}
.block2-reasons-single .reasons-single-title {
  margin: 0;
  padding: 10px 5px 10px 10px;
  font-size: 21px;
  text-align: left;
  color: #fff;
  background: #5385cf;
  -webkit-text-shadow: 1px 1px 0px #135991;
  -moz-text-shadow: 1px 1px 0px #135991;
  -ms-text-shadow: 1px 1px 0px #135991;
  -o-text-shadow: 1px 1px 0px #135991;
  text-shadow: 1px 1px 0px #135991;
}
.block2-reasons-single .reasons-single-desc {
  margin: 0;
  padding: 10px 5px 10px 10px;
  font-size: 15px;
  text-align: left;
  background: #8db6f3;
}
.block2-reasons-or {
  width: 50px;
  height: 50px;
  margin: 100px 20px 0;
  padding: 14px 0 0;
  font-family: 'ubuntubold', sans-serif;
  color: #7ca5e2;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 1px #5b8bd1;
  box-shadow: 0 3px 1px #5b8bd1;
}
.block3 {
  position: relative;
  min-height: 858px;
  margin-top: -100px;
  background: url('../img/block3-bg.png') no-repeat center top;
  z-index: 11;
}
.block3-advantages {
  min-width: 655px;
  margin: 105px 0 0 320px;
  text-align: center;
}
.block3-title {
  margin: 0 0 40px;
  padding: 0 0 18px;
  font-family: 'ubunturegular', sans-serif;
  font-weight: normal;
  font-size: 35px;
  text-align: left;
  text-transform: uppercase;
  background: url('../img/block3-title.png') no-repeat left bottom;
}
.block3-advantages ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}
.block3-advantages ul li {
  margin: 0 0 10px;
  padding: 15px 20px 0 0;
  vertical-align: top;
}
.block3-advantages ul li span {
  display: inline-block;
  width: 83px;
  height: 80px;
  margin: -15px 0 0;
  padding: 5px 0 0 16px;
  font-family: 'ubuntubold', sans-serif;
  font-size: 40px;
  color: #fff;
  -webkit-text-shadow: 1px 1px 0 #333;
  -moz-text-shadow: 1px 1px 0 #333;
  -ms-text-shadow: 1px 1px 0 #333;
  -o-text-shadow: 1px 1px 0 #333;
  text-shadow: 1px 1px 0 #333;
  background: url('../img/advantage-bg.png') no-repeat center center;
}
.block3-advantages ul li strong {
  display: inline-block;
  width: 530px;
  margin-right: -4px;
  font-family: 'ubunturegular', sans-serif;
  font-size: 18px;
  font-weight: normal;
  vertical-align: top;
}
.block3-advantages ul li:nth-child(3n) {
  padding: 5px 0 0;
}
.block3-advantages ul li:nth-child(3n) span {
  margin: -5px 0 0;
}
.block3-btn {
  display: inline-block;
  margin: 15px 0 0 -30px;
  padding: 15px 20px;
  font-size: 19px;
  color: #343434;
  background: #fdd857;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid #f1f1f1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 -1px 5px #999999;
  box-shadow: inset 0 -1px 5px #999999;
}
.block3-btn:hover {
  text-decoration: none;
}
.block4 {
  position: relative;
  min-height: 805px;
  margin-top: -90px;
  background: #fcf3e3;
  z-index: 10;
}
.block4 .container {
  padding: 120px 0 0;
}
.block4-title {
  margin: 0 0 20px;
  font-size: 25px;
  color: #474747;
}
.block4-title span {
  display: block;
  font-size: 53px;
  color: #c93e42;
}
.block4-prices table {
  width: 100%;
  text-align: center;
}
.block4-prices table th {
  padding: 13px 0;
  font-family: 'ubuntubold', sans-serif;
  font-size: 25px;
  color: #fff;
  background: #c4b69c;
  text-transform: uppercase;
  -webkit-text-shadow: 1px 1px 0 #666;
  -moz-text-shadow: 1px 1px 0 #666;
  -ms-text-shadow: 1px 1px 0 #666;
  -o-text-shadow: 1px 1px 0 #666;
  text-shadow: 1px 1px 0 #666;
}
.block4-prices table th.prices-best {
  position: absolute;
  width: 353px;
  height: 69px;
  margin: -13px -13px;
  padding: 20px 0;
  background: url('../img/block4-table-header.png') no-repeat center top;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.block4-prices table thead th:nth-child(1) {
  border-left: 1px solid #c4b69c;
}
.block4-prices table thead th:nth-child(3) {
  border-right: 1px solid #c4b69c;
}
.block4-prices table tr:nth-child(odd) {
  background: #fff;
}
.block4-prices table tr:nth-child(even) {
  background: #f1e5d0;
}
.block4-prices table td {
  width: 33.33333333333333%;
  padding: 13px 0;
  font-size: 16px;
}
.block4-prices table tr {
  border-bottom: 1px solid #c4b69c;
}
.block4-prices table tr td:nth-child(1) {
  border-left: 1px solid #c4b69c;
}
.block4-prices table tr td:nth-child(2) {
  border-left: 1px solid #c4b69c;
  border-right: 1px solid #c4b69c;
}
.block4-prices table tr td:nth-child(3) {
  border-right: 1px solid #c4b69c;
}
.block4-prices table tr:last-child td {
  padding: 1px 0;
  background: #fff;
}
.block4-prices table .prices-price {
  padding: 5px 10px;
  font-family: 'ubuntubold', sans-serif;
  font-size: 16px;
  color: #fff;
  background: #c93e42;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-text-shadow: 1px 1px 0 #666;
  -moz-text-shadow: 1px 1px 0 #666;
  -ms-text-shadow: 1px 1px 0 #666;
  -o-text-shadow: 1px 1px 0 #666;
  text-shadow: 1px 1px 0 #666;
}
.block4-prices table .prices-old {
  text-decoration: line-through;
  font-family: 'ubuntumedium', sans-serif;
  font-weight: normal;
  color: #343434;
}
.block4-prices table .prices-order {
  display: block;
  width: 100%;
  height: 45px;
  font-family: 'ubuntubold', sans-serif;
  font-size: 18px;
  line-height: 45px;
  background: #f9d042;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 8px #fff;
  box-shadow: inset 0 0 8px #fff;
}
.table-shadow {
  height: 40px;
  background: url('../img/table-shadow.png') no-repeat center top;
}
.block4-notice {
  width: 710px;
  margin: 0 auto;
  font-size: 27px;
  text-align: center;
  color: #c93e42;
}
.block5 {
  position: relative;
  min-height: 843px;
  background: url('../img/block5-bg.png') no-repeat center top;
  z-index: 11;
}
.block5 .container {
  padding: 130px 0 0;
}
.block5-title {
  font-size: 25px;
  color: #f5c932;
  -webkit-text-shadow: 1px 1px 0 #111;
  -moz-text-shadow: 1px 1px 0 #111;
  -ms-text-shadow: 1px 1px 0 #111;
  -o-text-shadow: 1px 1px 0 #111;
  text-shadow: 1px 1px 0 #111;
}
.block5-title span {
  display: block;
  font-size: 53px;
  color: #fff;
  white-space: nowrap;
  word-wrap: normal;
}
.block5-good-and-bad table {
  width: 100%;
  margin: 55px 0 0;
  text-align: left;
}
.block5-good-and-bad table td {
  width: 50%;
  min-height: 51px;
  padding: 25px 0 25px 75px;
  font-size: 16px;
  color: #fff;
  -webkit-text-shadow: 1px 1px 0 #111;
  -moz-text-shadow: 1px 1px 0 #111;
  -ms-text-shadow: 1px 1px 0 #111;
  -o-text-shadow: 1px 1px 0 #111;
  text-shadow: 1px 1px 0 #111;
  vertical-align: top;
}
.block5-good-and-bad table thead th {
  font-family: 'ubuntumedium', sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  -webkit-text-shadow: 1px 1px 0 #111;
  -moz-text-shadow: 1px 1px 0 #111;
  -ms-text-shadow: 1px 1px 0 #111;
  -o-text-shadow: 1px 1px 0 #111;
  text-shadow: 1px 1px 0 #111;
  vertical-align: top;
}
.block5-good-and-bad table thead th:nth-child(1) {
  padding-left: 75px;
  padding-right: 80px;
  color: #fe2e2e;
}
.block5-good-and-bad table thead th:nth-child(2) {
  padding-left: 140px;
  color: #46e00a;
}
.block5-good-and-bad table tr td:nth-child(1) {
  padding-right: 85px;
  background: url('../img/block5-bad.png') no-repeat center left;
}
.block5-good-and-bad table tr td:nth-child(2) {
  padding-left: 140px;
  background: url('../img/block5-good.png') no-repeat center left 55px;
}
.block5-good-and-bad table tr:not(:last-child) {
  border-bottom: 1px solid #97a4b1;
}
.block6 {
  position: relative;
  min-height: 1157px;
  margin-top: -80px;
  background: url('../img/block6-bg.png') no-repeat center top;
  z-index: 10;
}
.block6 .container {
  padding: 110px 0 0;
}
.block6-title {
  margin: 0;
  font-size: 53px;
  color: #c93e42;
  -webkit-text-shadow: 1px 1px 0 #eee;
  -moz-text-shadow: 1px 1px 0 #eee;
  -ms-text-shadow: 1px 1px 0 #eee;
  -o-text-shadow: 1px 1px 0 #eee;
  text-shadow: 1px 1px 0 #eee;
  white-space: nowrap;
  word-wrap: normal;
}
.block6-steps {
  position: relative;
  width: 978px;
  height: 213px;
  margin: 40px auto 0;
  background: url('../img/steps-bg.png') no-repeat center center;
}
.step {
  position: absolute;
}
.step-1 {
  width: 120px;
  left: 0;
  top: 160px;
}
.step-2 {
  width: 170px;
  left: 190px;
  top: 105px;
}
.step-3 {
  width: 120px;
  left: 364px;
  top: 210px;
}
.step-4 {
  width: 145px;
  left: 490px;
  top: 105px;
}
.step-5 {
  width: 85px;
  left: 692px;
  top: 210px;
}
.step-6 {
  width: 115px;
  right: 0;
  top: 105px;
  text-align: right;
}
.step-3,
.step-4,
.step-5 {
  text-align: center;
}
.people-block {
  position: relative;
  width: 895px;
  height: 684px;
  margin: 90px 0 0 90px;
  background: url('../img/block6-people.png') no-repeat center center;
  z-index: 14;
}
.block6-bottom {
  position: absolute;
  height: 185px;
  left: 0;
  bottom: 0;
  background: url('../img/block6-bottom.png') repeat-x left top;
}
.block6-info {
  width: 695px;
  height: 635px;
  padding: 265px 0 0 130px;
}
.info-title {
  font-size: 22px;
  text-transform: uppercase;
}
.start-block {
  width: 175px;
}
.where-block {
  width: 390px;
  padding: 0 0 0 25px;
}
.info-map {
  margin-top: 30px;
}
.gl-footer {
  height: 339px;
  padding: 20px 0;
  background: url('../img/bottom-bg.png') no-repeat center center;
}
.footer-form {
  margin: 0 auto;
}
#popup {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.popup-form {
  margin: 0 auto;
}
#thanks {
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 30px 15px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
#thanks p {
  font-size: 24px;
  text-align: center;
}

/* Browsers hacks */

@-moz-document url-prefix() {
  .block4-prices table th.prices-best {
    width: 344px;
  }
}
.block4-prices table th.prices-best {
  width: 346px\9;
}
@media all and (-ms-high-contrast:none) {
  
  .block4-prices table th.prices-best {
    width: 346px;
  }
  *::-ms-backdrop, .block4-prices table th.prices-best {
    width: 346px;
  }
}
.info-map:not(*:root) {
  margin-top: 5px;
}
@media screen and (max-width: 1000px) {

  h2 span, .block6-title {
    font-size: 22px !important;
  }
  .block2-title, .block4-title, .block5-title,  {
    font-size: 18px !important;
  }
  .block2-reasons-or {
    margin: 100px 5px 0 10px !important;
  }
}