@font-face {
	font-family: 'ubuntubold';
	src: url('../fonts/Ubuntu-B.ttf') format('truetype'),
	url('../fonts/Ubuntu-B.woff') format('woff'),
	url('../fonts/Ubuntu-B.eot') format('eot');
}
@font-face {
	font-family: 'ubunturegular';
	src: url('../fonts/Ubuntu-R.ttf') format('truetype'),
	url('../fonts/Ubuntu-R.woff') format('woff'),
	url('../fonts/Ubuntu-R.eot') format('eot');
}
@font-face {
	font-family: 'Ubuntumedium';
	src: url('../fonts/Ubuntu-M.ttf') format('truetype'),
	url('../fonts/Ubuntu-M.woff') format('woff'),
	url('../fonts/Ubuntu-M.eot') format('eot');
}

*,
*:before,
*:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}
address {
  	font-style: normal;
}
nav ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
}
figure {
  	margin: 0;
}
.clearfix:after {
  	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
h1, h2, h3, h4, h5, h6, strong, b {
	font-family: 'ubuntubold', sans-serif;
}
.container {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
body, .gl-header, .gl-footer, .block {
	width: 100%;
	min-width: 980px;
}
.block {
	overflow: hidden;
}
.opacity-low:hover {
	opacity: 0.9;
}
body {
	font-family: 'ubunturegular', sans-serif;
	color: #000;
	background: #fff;
	overflow-y: scroll;
}
form {
	width: 300px;
	padding: 5px;
	background: #bb0a0e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	.form-inner {
		padding: 15px 10px;
		border: 1px solid #333;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	.form-inner-title {
		display: block;
		font-family: 'ubuntubold', sans-serif;
		font-size: 19px;
		color: #fff;
		text-align: center;
		-webkit-text-shadow: 1px 1px 0 #343434;
		-moz-text-shadow: 1px 1px 0 #343434;
		-ms-text-shadow: 1px 1px 0 #343434;
		-o-text-shadow: 1px 1px 0 #343434;
		text-shadow: 1px 1px 0 #343434;
	}
	.form-inner-notice {
		display: block;
		width: 180px;
		margin: 5px auto 15px;
		padding: 4px 15px;
		font-family: 'ubuntumedium', sans-serif;
		font-weight: normal;
		font-size: 19px;
		background: #ffca14;
		text-align: center;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
	}
	input[type=text] {
		display: block;
		margin: 0 0 12px;
		padding: 5px 10px;
		width: 100%;
		height: 39px;
		color: #343434;
		border: 1px solid #443333;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		outline: none;
		-webkit-box-shadow: inset 0 1px 6px #999;
		box-shadow: inset 0 1px 6px #999;
	}
	input[type=submit] {
		width: 267px;
		height: 55px;
		margin: 10px 0 0;
		font-family: 'ubuntubold', sans-serif;
		font-size: 19px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-text-shadow: 1px 1px 0 #eee;
		-moz-text-shadow: 1px 1px 0 #eee;
		-ms-text-shadow: 1px 1px 0 #eee;
		-o-text-shadow: 1px 1px 0 #eee;
		text-shadow: 1px 1px 0 #eee;
		background: url('../img/form-btn.png') no-repeat center center;
		border: none;
		outline: none;
	}
	.form-link {
		display: block;
		margin: 10px 0 0;
		font-size: 11px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		opacity: 0.90;
	}
}
.gl-header {
	padding: 5px 0;
	background: #343434;
}
.contact-top {
	text-align: right;
}
.contact-top-phone {
	margin: 0 0 5px;
	font-family: 'ubuntubold', sans-serif;
	font-size: 25px;
	color: #fff;
}
.contact-top-btn {
	display: block;
	width: 170px;
	height: 30px;
	padding: 5px 0 0;
	font-family: 'ubuntubold', sans-serif;
	font-size: 15px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: url('../img/header-btn.png') no-repeat center center;
}
.block1 {
	min-height: 544px;
	background: url('../img/block1-bg.png') no-repeat;
	background-position: center -1px;
}
.block1-titles {
	text-align: center;
}
.block1-title, .block1-subtitle {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding: 7px 15px;
	color: #fff;
	background: rgba(113, 179, 239, 0.75);
	text-align: center;
	-webkit-text-shadow: 1px 1px 0px #135991;
	-moz-text-shadow: 1px 1px 0px #135991;
	-ms-text-shadow: 1px 1px 0px #135991;
	-o-text-shadow: 1px 1px 0px #135991;
	text-shadow: 1px 1px 0px #135991;
}
.block1-title {
	margin: 20px 0 0;
	font-size: 38px;
}
.block1-subtitle {
	margin: 0;
	font-family: 'ubunturegular', sans-serif;
	font-size: 28px;
	font-weight: normal;
}
.block1-form {
	margin: 25px 0 0;
}
.block2 {
	position: relative;
	min-height: 652px;
	margin-top: -80px;
	background: url('../img/block2-bg.png') no-repeat center top;
	z-index: 12;

	.container {
		padding: 100px 0 0;
	}
}
.block2-title {
	margin: 0;
	font-size: 25px;
	color: #fff;
	-webkit-text-shadow: 1px 1px 0px #135991;
	-moz-text-shadow: 1px 1px 0px #135991;
	-ms-text-shadow: 1px 1px 0px #135991;
	-o-text-shadow: 1px 1px 0px #135991;
	text-shadow: 1px 1px 0px #135991;

	span {
		display: block;
		font-size: 53px;
	}
}
.block2-reasons {
	margin: 40px 0 0;
	text-align: center;
}
.block2-reasons-single, 
.block2-reasons-or,
.reasons-single-wrapper {
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}
.reasons-single-wrapper {
	width: 258px;
	border-radius: 50%;
  	box-shadow: 0 0 150px #fff;
}
.block2-reasons-single {
	width: 258px;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;

	.reasons-single-img {
		width: 258px;
		height: 196px;
		margin-bottom: -3px;
	}
	.reasons-single-title {
		margin: 0;
		padding: 10px 5px 10px 10px;
		font-size: 21px;
		text-align: left;
		color: #fff;
		background: #5385cf;
		-webkit-text-shadow: 1px 1px 0px #135991;
		-moz-text-shadow: 1px 1px 0px #135991;
		-ms-text-shadow: 1px 1px 0px #135991;
		-o-text-shadow: 1px 1px 0px #135991;
		text-shadow: 1px 1px 0px #135991;
	}
	.reasons-single-desc {
		margin: 0;
		padding: 10px 5px 10px 10px;
		font-size: 15px;
		text-align: left;
		background: #8db6f3;
	}
}
.block2-reasons-or {
	width: 50px;
	height: 50px;
	margin: 100px 20px 0;
	padding: 14px 0 0;
	font-family: 'ubuntubold', sans-serif;
	color: #7ca5e2;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 3px 1px #5b8bd1;
	box-shadow: 0 3px 1px #5b8bd1;
}
.block3 {
	position: relative;
	min-height: 858px;
	margin-top: -100px;
	background: url('../img/block3-bg.png') no-repeat center top;
	z-index: 11;
}
.block3-advantages {
	min-width: 655px;
	margin: 105px 0 0 320px;
	text-align: center;
}
.block3-title {
	margin: 0 0 40px;
	padding: 0 0 18px;
	font-family: 'ubunturegular', sans-serif;
	font-weight: normal;
	font-size: 35px;
	text-align: left;
	text-transform: uppercase;
	background: url('../img/block3-title.png') no-repeat left bottom;
}
.block3-advantages ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;

	li {
		margin: 0 0 10px;
		padding: 15px 20px 0 0;
		vertical-align: top;

		span {
			display: inline-block;
			width: 83px;
			height: 80px;
			margin: -15px 0 0;
			padding: 5px 0 0 16px;
			font-family: 'ubuntubold', sans-serif;
			font-size: 40px;
			color: #fff;
			-webkit-text-shadow: 1px 1px 0 #333;
			-moz-text-shadow: 1px 1px 0 #333;
			-ms-text-shadow: 1px 1px 0 #333;
			-o-text-shadow: 1px 1px 0 #333;
			text-shadow: 1px 1px 0 #333;
			background: url('../img/advantage-bg.png') no-repeat center center;
		}
		strong {
			display: inline-block;
			width: 530px;
			margin-right: -4px;
			font-family: 'ubunturegular', sans-serif;
			font-size: 18px;
			font-weight: normal;
			vertical-align: top;
		}
	}
	li:nth-child(3n) {
		padding: 5px 0 0;

		span {
			margin: -5px 0 0;
		}
	}
}
.block3-btn {
	display: inline-block;
	margin: 15px 0 0 -30px;
	padding: 15px 20px;
	font-size: 19px;
	color: #343434;
	background: #fdd857;
	text-align: center;
	text-transform: uppercase;
	border: 5px solid #f1f1f1;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: inset 0 -1px 5px #999;
	box-shadow: inset 0 -1px 5px #999;
}
.block3-btn:hover {
	text-decoration: none;
}
.block4 {
	position: relative;
	min-height: 805px;
	margin-top: -90px;
	background: #fcf3e3;
	z-index: 10;

	.container {
		padding: 140px 0 0;
	}
}
.block4-title {
	margin: 0 0 20px;
	font-size: 25px;
	color: #474747;

	span {
		display: block;
		font-size: 53px;
		color: #c93e42;
	}
}
.block4-prices table {
	width: 100%;
	text-align: center;

	th {
		padding: 13px 0;
		font-family: 'ubuntubold', sans-serif;
		font-size: 25px;
		color: #fff;
		background: #c4b69c;
		text-transform: uppercase;
		-webkit-text-shadow: 1px 1px 0 #666;
		-moz-text-shadow: 1px 1px 0 #666;
		-ms-text-shadow: 1px 1px 0 #666;
		-o-text-shadow: 1px 1px 0 #666;
		text-shadow: 1px 1px 0 #666;
	}
	th.prices-best {
		position: absolute;
		width: 353px;
		height: 69px;
		margin: -13px -13px;
		padding: 20px 0;
		background: url('../img/block4-table-header.png') no-repeat center top;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
	thead {

		th:nth-child(1) {
			border-left: 1px solid #c4b69c;
		}
		th:nth-child(3) {
			border-right: 1px solid #c4b69c;
		}
	}
	tr:nth-child(odd) {
		background: #fff;
	}
	tr:nth-child(even) {
		background: #f1e5d0;
	}
	td {
		padding: 13px 0;
		font-size: 16px;
	}
	tr {
		border-bottom: 1px solid #c4b69c;
		
		td:nth-child(1) {
			border-left: 1px solid #c4b69c;
		}
		td:nth-child(2) {
			border-left: 1px solid #c4b69c;
			border-right: 1px solid #c4b69c;
		}
		td:nth-child(3) {
			border-right: 1px solid #c4b69c;
		}
	}
	tr:last-child {

		td {
			padding: 1px 0;
			background: #fff;
		}
	}
	.prices-price {
		padding: 5px 10px;
		font-family: 'ubuntubold', sans-serif;
		font-size: 16px;
		color: #fff;
		background: #c93e42;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		-webkit-text-shadow: 1px 1px 0 #666;
		-moz-text-shadow: 1px 1px 0 #666;
		-ms-text-shadow: 1px 1px 0 #666;
		-o-text-shadow: 1px 1px 0 #666;
		text-shadow: 1px 1px 0 #666;
	}
	.prices-order {
		display: block;
		width: 100%;
		height: 45px;
		font-family: 'ubuntubold', sans-serif;
		font-size: 18px;
		line-height: 45px;
		background: #f9d042;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-box-shadow: inset 0 0 8px #fff;
		box-shadow: inset 0 0 8px #fff;
	}
}
.table-shadow {
	height: 40px;
	background: url('../img/table-shadow.png') no-repeat center top;
}
.block4-notice {
	width: 710px;
	margin: 0 auto;
	font-size: 27px;
	text-align: center;
	color: #c93e42;
}
.block5 {
	position: relative;
	min-height: 843px;
	background: url('../img/block5-bg.png') no-repeat center top;
	z-index: 11;

	.container {
		padding: 130px 0 0;
	}
}
.block5-title {
	font-size: 25px;
	color: #f5c932;
	-webkit-text-shadow: 1px 1px 0 #111;
	-moz-text-shadow: 1px 1px 0 #111;
	-ms-text-shadow: 1px 1px 0 #111;
	-o-text-shadow: 1px 1px 0 #111;
	text-shadow: 1px 1px 0 #111;

	span {
		display: block;
		font-size: 53px;
		color: #fff;
	}
}
.block5-good-and-bad table {
	width: 100%;
	margin: 55px 0 0;
	text-align: left;

	td {
		width: 50%;
		min-height: 51px;
		padding: 25px 0 25px 75px;
		font-size: 16px;
		color: #fff;
		-webkit-text-shadow: 1px 1px 0 #111;
		-moz-text-shadow: 1px 1px 0 #111;
		-ms-text-shadow: 1px 1px 0 #111;
		-o-text-shadow: 1px 1px 0 #111;
		text-shadow: 1px 1px 0 #111;
		vertical-align: top;
	}
	thead {
		
		th {
			font-family: 'ubuntumedium', sans-serif;
			font-weight: normal;
			font-size: 22px;
			text-align: left;
			-webkit-text-shadow: 1px 1px 0 #111;
			-moz-text-shadow: 1px 1px 0 #111;
			-ms-text-shadow: 1px 1px 0 #111;
			-o-text-shadow: 1px 1px 0 #111;
			text-shadow: 1px 1px 0 #111;
			vertical-align: top;
		}
		th:nth-child(1) {
			padding-left: 75px;
			padding-right: 80px;
			color: #fe2e2e;
		}
		th:nth-child(2) {
			padding-left: 140px;
			color: #46e00a;
		}
	}
	tr {

		td:nth-child(1) {
			padding-right: 85px;
			background: url('../img/block5-bad.png') no-repeat center left;
		}
		td:nth-child(2) {
			padding-left: 140px;
			background: url('../img/block5-good.png') no-repeat center left 55px;
		}
	}
	tr:not(:last-child) {
		border-bottom: 1px solid #97a4b1;
	}
}
.block6 {
	position: relative;
	min-height: 1157px;
	margin-top: -80px;
	background: url('../img/block6-bg.png') no-repeat center top;
	z-index: 10;

	.container {
		padding: 110px 0 0;
	}
}
.block6-title {
	margin: 0;
	font-size: 53px;
	color: #c93e42;
	-webkit-text-shadow: 1px 1px 0 #eee;
	-moz-text-shadow: 1px 1px 0 #eee;
	-ms-text-shadow: 1px 1px 0 #eee;
	-o-text-shadow: 1px 1px 0 #eee;
	text-shadow: 1px 1px 0 #eee;
}
.block6-steps {
	position: relative;
	width: 978px;
	height: 213px;
	margin: 40px auto 0;
	background: url('../img/steps-bg.png') no-repeat center center;
}
.step {
	position: absolute;
}
.step-1 {
	width: 120px;
	left: 0;
	top: 160px;
}
.step-2 {
	width: 170px;
	left: 190px;
	top: 105px;
}
.step-3 {
	width: 120px;
  	left: 364px;
  	top: 210px;
}
.step-4 {
	width: 145px;
	left: 490px;
	top: 105px;
}
.step-5 {
	width: 85px;
	left: 692px;
	top: 210px;
}
.step-6 {
	width: 115px;
	right: 0;
	top: 105px;
	text-align: right;
}
.step-3, .step-4, .step-5 {
	text-align: center;
}
.people-block {
	position: relative;
	width: 895px;
	height: 684px;
	margin: 90px 0 0 90px;
	background: url('../img/block6-people.png') no-repeat center center;
	z-index: 14;
}
.block6-bottom {
	position: absolute;
	height: 185px;
	left: 0;
	bottom: 0;
	background: url('../img/block6-bottom.png') repeat-x left top;
}
.block6-info {
	width: 695px;
	height: 635px;
	padding: 265px 0 0 130px;
}
.info-title {
	font-size: 22px;
	text-transform: uppercase;
}
.start-block {
	width: 175px;
}
.where-block {
	width: 390px;
	padding: 0 0 0 25px;
}
.info-map {
	margin-top: 30px;
}
.gl-footer {
	height: 339px;
	padding: 20px 0;
	background: url('../img/bottom-bg.png') no-repeat center center;
}
.footer-form {
	margin: 0 auto;
}

#popup {
	position: relative;
	width: 300px;
	margin: 0 auto;
}
.popup-form {
	margin: 0 auto;
}
#thanks {
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 40px 20px;
	background: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;

	p {
		font-size: 24px;
		text-align: center;
	}
}

/* Browsers hacks */

@-moz-document url-prefix() {

	.block4-prices table th.prices-best {
		width: 344px;
	}
}
:root .block4-prices table th.prices-best {
	width: 346px;
}